@{
    Layout = "~/Views/Shared/_Layout_other.cshtml";
    ViewBag.Title = "About";
}
<script src="/Scripts/main.js"></script>
<div id="content_about">
    <div class="sub_layout">
        <div class="title">
            <p class="breadcrumb">Home > About Us</p>
            <p class="subtitle">About UBi</p>
        </div>
        <div class="content">
            <div>
                <img src="~/Images/about_img.png" />
            </div>
            <p class="abtitle">
                We make logistics SIMPLE, so you can SAVE.
            </p>
            <p class="abcontent">
                At UBi Freight, we provide technology-enabled transportation and supply chain management services.<br />
                Our web-based technology platform continuously compiles and analyzes data<br />
                from our network to serve our clients' shipping and freight management needs.<br />
                We also optimize the pricing structure thru real time load matching system, and minimize the risk factors<br />
                thru complex shipper / carrier screening system for our clients.<br /><br />
            </p>
        </div>
    </div>
</div>
