
@{
    Layout = "";
    ViewBag.Title = "Index1";
}
<body style="text-align:center; width:100%; height:100%;">
    <div style="margin-left:auto;margin-right:auto;">
        <img src="~/Images/pageunderconstruction.png" style="margin-left:auto;margin-right:auto;" />
        <h2>UBi Freight Systems Inc.<br />381 Thor Place #B, Brea, CA 92821 / <a class="ftemail" href="mailto:info@ubifreight.com">info@ubifreight.com</a> / TEL: 714-990-5450 FAX: 714-509-1234<br /> © Copyright 2015 UBI Logistics, Inc. All rights reserved.</h2>
    </div>
</body>

    

