@{
    ViewBag.Title = "UBI freight";
}

<body>
  <script src="/Scripts/main.js"></script>

                <div class="section">
                    <div class="slider_bnr">
                        <ul>
                            <li>
                                <div class="pic"><img src="~/Images/main1.jpg" alt="banner1 img" id="bg"></div>
                                <p class="text1">WE FAST,</p>
                                <p class="text2">WE ACCURATE,</p>
                                <p class="text3">AND WE  SENSIBLE</p>
                            </li>
                            <li>
                                <div class="pic"><img src="~/Images/main2.jpg" alt="banner2 img" id="bg"></div>
                                <p class="text1" style="left:10%">WE FAST,</p>
                                <p class="text2" style="left:16%">WE ACCURATE,</p>
                                <p class="text3" style="left:20.4%">AND WE  SENSIBLE</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //section 1 : main banner -->
                <!-- section 2 sns -->
                <div class="section_sns">
                    <div class="sns_lst">
                        <ul>
                            <li>
                                <button type="submit" class="btn_sns_fc">facebook</button>
                            </li>
                            <li>
                                <button type="submit" class="btn_sns_tw">twitter</button>
                            </li>
                            <li>
                                <button type="submit" class="btn_sns_yb">youtube</button>
                            </li>
                            <li>
                                <button type="submit" class="btn_sns_gg">google</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- section 2 end -->
                <!-- section 3 small banner -->
                <div class="section_sbnr">
                    <div class="sbnr_lst">
                        <button class="btn_n_prev">prev</button>
                        <ul>
                            <li class="selected">
                                <a href="#" type="submit" class="pic"><img src="~/Images/thmb1.jpg" /></a>
                                <p class="text1">BANNER1</p>
                            </li>
                            <li class="selected">
                                <a href="#" type="submit" class="pic"><img src="~/Images/thmb2.jpg" /></a>
                                <p class="text1">BANNER2</p>
                            </li>
                            <li class="selected">
                                <a href="#" type="submit" class="pic"><img src="~/Images/thmb3.jpg" /></a>
                                <p class="text1">BANNER3</p>
                            </li>
                        </ul>
                        <button class="btn_n_next">next</button>
                    </div>
                </div>
                <!-- section 3 end -->

            <!-- //content -->
</body>
