/* reset */
html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{color:#333;font-family:Arial,'Apple SD Gothic Neo',Helvetica,sans-serif,'LucidaGrande';font-size:12px;line-height:1.4}
html,body{height:100%}
body{background:#eeeeea}
img,fieldset{border:0;vertical-align:top}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;cursor:pointer}
a:hover,a:active,a:focus{text-decoration:underline}
legend,hr{display:none}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal}
table{width:100%;border-collapse:collapse;border-spacing:0}
button{overflow:visible;border:0;background:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
input[type=text],input[type=password]{vertical-align:top}
/* input[type=checkbox],input[type=radio]{vertical-align:middle} */
/* Common */
/* align */
.fl{float:left}
.fr{float:right}
.al{text-align:left}
.ar{text-align:right}
.ac{text-align:center}

.fclear:after{display:block;overflow:hidden;clear:both;height:0;content:''}

.blind,legend,caption span{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:1px;white-space:nowrap}
.dimmed{display:none;position:fixed;left:0;top:0;right:0;bottom:0;z-index:25;background:#000;opacity:.6;filter:alpha(opacity='60')}
.overlay{  background:rgba(0,0,0,.75);text-align:center;padding:45px 0 66px 0;opacity:0;-webkit-transition: opacity .25s ease;-moz-transition: opacity .25s ease;}

.logo,.h_top a:before,.log .od a:before,.logo_true:before,.btn_sch,.btn_prev,.btn_next,.section_sbnr .btn_n_prev,.section_sbnr .btn_n_next,.btn_sns_fc,.btn_sns_tw,.btn_sns_yb,.btn_sns_gg,.warning:before,.err_required:before,.btn_close,.wht_sns_fc,.wht_sns_tw,.wht_sns_yb,.wht_sns_gg,.sub_layout .title .subtitle:before {overflow:hidden;display:inline-block;width:10px;height:10px;background:url(../Images/bg.png) no-repeat;line-height:99em;vertical-align:top}

/* buttons  */
.btn_sns_fc,.btn_sns_tw,.btn_sns_yb,.btn_sns_gg{position:relative;z-index:2;width:25px;height:25px;}
.btn_sns_fc{left:0;background-position:0px -32px}
.btn_sns_tw{left:0;background-position:-28px -32px}
.btn_sns_yb{left:0;background-position:-83px -32px}
.btn_sns_gg{left:0;background-position:-111px -32px}

/* sns white*/
.wht_sns_fc,.wht_sns_tw,.wht_sns_yb,.wht_sns_gg{position:relative;z-index:2;width:25px;height:25px;}
.wht_sns_fc{left:0;background-position:0px -129px}
.wht_sns_fc:hover{left:0;background-position:0px -155px}
.wht_sns_tw{left:0;background-position:-28px -129px}
.wht_sns_tw:hover{left:0;background-position:-28px -155px}
.wht_sns_yb{left:0;background-position:-83px -129px}
.wht_sns_yb:hover{left:0;background-position:-83px -155px}
.wht_sns_gg{left:0;background-position:-111px -129px}
.wht_sns_gg:hover{left:0;background-position:-111px -155px}

.btn_n_prev,.btn_n_next{position:absolute;top:50%;z-index:2;width:18px;height:28px;}
.btn_n_prev{left:0;background-position:-137px -42px}
.btn_n_prev:hover{background-position:-176px -42px}
.btn_n_next{right:0;background-position:-157px -42px}
.btn_n_next:hover{background-position:-196px -42px}
.btn_close{width:15px;height:14px;background-position:-141px -71px}

.btn_b_blue:hover{color:#000}
a.btn_b_blue{height:38px}
button.btn_b_blue{height:40px}
.btn_m_blue{border:1px solid #2f5765;border-radius:3px;background:#ffffff;padding:0px 15px;color:#2f5765;font-size:14px;line-height:34px;}
.btn_m_blue:hover{border-color:#346dae;background:#d4d4d4}
a.btn_m_blue{height:32px}
button.btn_m_blue{height:33px}
a.btn_s_blue{height:20px}
button.btn_s_blue{height:22px}
.btn_s_blue{border-bottom:1px solid #346dae;border-radius:3px;background:#5c9fea;padding:0px 10px;color:#fff;font-size:12px;line-height:22px}
.btn_s_blue:hover{border-bottom-color:#244280;background:#5d90ca}

/* SNS List */
.sns_lst{position:relative;margin-left:auto;margin-right:auto;top:50%; height:30px; width:1122px;}
.sns_lst li{float:left;display:inline;margin-left:2px;}


/*  info */
.warning{position:relative;padding:10px 50px;background:#c95454;color:#fff;font-size:14px;line-height:1.3}
.warning:before{position:absolute;left:15px;top:50%;width:24px;height:22px;margin-top:-11px;background-position:-141px -87px;content:''}

.err_required{display:none;position:absolute;right:5px;top:8px;font-size:12px;color:#a91e22}
.err_required:before{display:inline-block;width:16px;height:15px;margin-right:4px;vertical-align:middle;background-position:-159px -70px;content:''}

/* layout */
#wrap{overflow:hidden;position:relative;width:100%;min-width:1000px}
#global{height:148px;background:#fff url(../Images/bg_head.png) repeat-x 0 109px}
#container{position:relative;width:100%}
#content{position:relative;margin:0 auto;background:#fff;min-height:470px}
#content:after{display:block;overflow:hidden;clear:both;height:0;content:''}
#content_about{position:relative;margin:0 auto;background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url(../Images/about_bg.jpg);overflow:hidden;}
#content_about:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.inr{margin:0 auto}

/* golobal */
#global:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.head{position:relative;height:58px;padding-top:51px}
.head:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.head .logo{position:absolute;left:50px;top:42px;width:103px;height:57px;background-position:-141px -110px}
.h_top{position:absolute;top:55px;right:55px}
.h_top li{float:left;margin-left:30px}
.h_top a{display:block;font-size:18px;color:#1f4a7d;line-height:35px;text-decoration:none;font-family:"Lucida Grande"}
.h_top a:before{height:35px;margin-right:4px;content:''}
.h_top .quote a:before{width:34px;background-position:-70px -58px}
.h_top .quote a:hover:before{background-position:-70px -93px}
.h_top .track a:before{width:34px;background-position:-105px -58px}
.h_top .track a:hover:before{background-position:-105px -93px}
.h_top .about a:before{width:34px;background-position:-35px -58px}
.h_top .about a:hover:before{background-position:-35px -93px}
.h_top .menu a:before{width:34px;background-position:0px -58px}
.h_top .menu a:hover:before{background-position:0px -93px}

/* login and search */
.tlg{position:absolute;right:55px}
.tlg:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.tlg a{display:inline-block;overflow:hidden;height:32px;margin-top:7px;color:#fff;font-family:"Lucida Grande";font-size:18px;text-decoration:none}
.tlg a:hover{color:#f4a353}
.tlg .search{max-width:150px;margin:7px 0px 0px 20px;padding:4px;border:1px solid #7c7c7c;border-radius:3px;font-size:12px;color:#333}
.tlg .btn_sch{width:22px;margin:9px 0px 0px 5px;height:22px;background-position:-109px 0px}

/* top Menu */
.ly_navi{position:absolute;top:0px;z-index:30;width:100%;height:384px;background:#fff;color:#fff;text-align:center;visibility:hidden}
.ly_navi:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.mn_map{margin-top:30px; margin-left:auto;margin-right:auto; width:80%;}
.mn_map:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.mn_map>li{float:left;width:15%;padding: 0 0 0 35px;}
.mn_map>li:first-child{border-left:0px;}
.mn_map>li em{color:#139fc2; font-size:16px;font-weight:bold;font-family:"Lucida Grande";}
.mn_map a{display:inline-block;color:#000;line-height:22px;text-decoration:none;font-size:14px;font-weight:normal;font-family:"Lucida Grande";}
.mn_map a:hover{color:#1f4a7d}
.mn_map>li ul{margin-top:10px}
.ly_navi .btn_close{position:absolute;bottom:20px;right:20px}

/* top tracking */
.ly_tracking{position:absolute;top:0px;right:50px;z-index:30;width:30%;height:300px;background:rgba(240,240,240,0.9);color:#fff;text-align:center;visibility:hidden;max-width:400px}
.ly_tracking:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.ly_tracking ul{border-bottom:1px solid #fff; width:90%;margin-left:auto;margin-right:auto;}
.ly_tracking li{margin-top:20px;margin-bottom:25px;}
.ly_tracking label{font-size:14px;font-weight:bold;text-align:left;font-family:"Lucida Grande";color:#1f4a7d;}
.ly_tracking .textbox{max-width:300px;width:30%;padding:4px;border:1px solid #7c7c7c;border-radius:3px;font-size:12px;color:#333}
.ly_tracking .btn_close{position:absolute;bottom:20px;right:20px}
.ly_tracking .nv_content{font-size:16px;font-weight:normal;margin-top:20px;font-family:"Lucida Grande";}

.nv_title{font-size:24px;font-weight:bold;margin-top:20px;font-family:"Lucida Grande";color:#1f4a7d;}

/* top Quote */
.ly_quote{position:absolute;top:0px;z-index:30;width:100%;height:300px;background:rgba(240,240,240,0.95);color:#fff;text-align:center;visibility:hidden}
.ly_quote:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.ly_quote ul{border-bottom:1px solid #fff; width:90%;margin-left:auto;margin-right:auto;}
.ly_quote li{margin-top:20px;margin-bottom:25px;}
.ly_quote label{font-size:14px;font-weight:bold;text-align:left;font-family:"Lucida Grande";color:#1f4a7d;}
.ly_quote .textbox{max-width:300px;width:20%;margin:0px 0px 0px 10px;padding:4px;border:1px solid #7c7c7c;border-radius:3px;font-size:12px;color:#333}
.ly_quote .btn_close{position:absolute;bottom:20px;right:20px}
.ly_quote .nv_content{font-size:16px;font-weight:normal;margin-top:20px;font-family:"Lucida Grande";}


/* top SNS */
.tsns{position:absolute;left:37px;margin-top:7px;}
.tlg:after{display:block;overflow:hidden;clear:both;height:0;content:''}

/* footer */
#footer .inr{overflow:hidden;padding:40px 0;background:#139fc2;height:100%}
#footer .logo{width:39px;height:41px;background-position:-137px 0}
#footer .fl{width:100%;margin-left:64px}


.ft_map{margin-top:30px; margin-left:25px; width:100%;min-width:1000px;}
.ft_map:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.ft_map>li{float:left;width:15%;border-left:1px solid #fff;padding: 0 0 0 35px;}
.ft_map>li:first-child{border-left:0px;}
.ft_map>li em{color:#fff; font-size:16px;font-weight:bold;font-family:"Lucida Grande";}
.ft_map a{display:inline-block;color:#fff;line-height:22px;text-decoration:none;font-size:14px;font-weight:normal;font-family:"Lucida Grande";}
.ft_map a:hover{color:#1f4a7d}
.ft_map>li ul{margin-top:10px}

.ft_company{margin-top:30px;}
.ft_company:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.ft_company>li{float:left;margin-left:10px}
.cp{color:#fff;font-size:12px;line-height:1.2em;}
.cp .ftemail{ color:#fff; }
.cp .ftemail:hover {color: #1f4a7d;}

/* main */
.section{}
.section:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.slider_bnr{overflow:hidden;position:relative;float:left;width:100%;height:500px;}
.slider_bnr ul{position:relative;padding-top:365px;text-align:center}
.slider_bnr li{display:inline}
.slider_bnr .pic{display:none;position:absolute;left:0;top:0}
.slider_bnr .text1{display:none;position:relative; left:-30%; top:-220px;width:100%;font-size:36px;color:#fff;z-index:1;font-weight:bold;font-family:"Lucida Grande";}
.slider_bnr .text2{display:none;position:relative; left:-18%; top:-220px;width:100%;font-size:36px;color:#fff;z-index:1;font-weight:bold;font-family:"Lucida Grande";}
.slider_bnr .text3{display:none;position:relative; left:-23%; top:-220px;width:100%;font-size:36px;color:#fff;z-index:1;font-weight:bold;font-family:"Lucida Grande";}
.slider_bnr .selected .pic{display:block}
.slider_bnr .selected .text1{display:block}
.slider_bnr .selected .text2{display:block}
.slider_bnr .selected .text3{display:block}

.section_sns{position:relative;margin-top:10px;margin-left:auto;margin-right:auto;width:80%}
.section_sns:after{display:block;overflow:hidden;clear:both;height:0;content:''}

.section_sbnr{position:relative;margin-top:10px;margin-left:auto;margin-right:auto;width:80%}
.section_sbnr:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.section_sbnr .btn_n_prev,.section_sbnr .btn_n_next{position:absolute;top:50%;z-index:2;width:18px;height:28px;}
.section_sbnr .btn_n_prev{left:-3%;background-position:-137px -42px}
.section_sbnr .btn_n_prev:hover{background-position:-176px -42px}
.section_sbnr .btn_n_next{right:-2%;background-position:-157px -42px}
.section_sbnr .btn_n_next:hover{background-position:-196px -42px}
.sbnr_lst{position:relative;margin-left:auto;margin-right:auto;top:0px; height:300px; width:75%;}
.sbnr_lst li{float:left;display:inline;margin-left:5px;width:32%}
.sbnr_lst .pic{display:none;position:relative;overflow:hidden;width:100%;height:256px;border:1px solid #e2e2e2;line-height:0}
.sbnr_lst .pic>a{display:table-cell;width:150px;height:228px;background:#f5f5f5;text-align:center;vertical-align:middle;}
.sbnr_lst .pic:hover{opacity:0.5;filter:alpha(opacity=30);}
.sbnr_lst .text1{display:none;position:relative; left:5%; top:-45px;width:100%;font-size:24px;font-family:"Lucida Grande";color:#fff;z-index:1;font-weight:bold}
.sbnr_lst .selected .pic{display:block}
.sbnr_lst .selected .text1{display:block}

/* layer sign */
.ly_sign{display:none;position:fixed;top:50%;left:50%;z-index:30;width:400px;height:280px;background:#fff;margin:-300px 0 0 -310px;padding:60px;color:#4d4d4d;text-align:center}
.ly_sign:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.ly_sign h1{font-size:24px;font-weight:bold}
.ly_sign h2{font-size:16px;font-weight:bold}
.ly_sign h2+p{margin-top:0px;color:#666}
.ly_sign .warning{display:none;margin-top:5px}
.ly_sign .login_form{width:100%;margin-top:25px;text-align:center;}
.ly_sign .login_form .inp_bx{position:relative}
.ly_sign .login_form .inp_bx .err_required{position:absolute;top:0px;margin-right:0px;}
.ly_sign .login_form ul{position:relative;margin-left:auto;margin-right:auto}
.ly_sign .login_form li{float:left;display:inline;margin-left:5px;}
.ly_sign .login_form .btn{margin-top:20px;width:130px}
.ly_sign .btn_close{position:absolute;top:20px;right:20px}

.inp_login{height:70px}
.inp_login label{display:block;margin-top:15px;font-size:12px;font-weight:bold;text-align:left}
.inp_login .inp_txt{width:170px;height:13px;margin-top:3px;padding:10px;border-color:#abadb3;border-top-color:#8c8e91}
.inp_login .inp_txt.err{border:1px solid #c95454}

.extra_info{margin-top:8px;text-align:left;margin-left:auto;margin-right:auto;}
.extra_info input{margin-right:4px;margin-left:5px;vertical-align:-2px;}
.extra_info label:after{display:inline-block;margin:0 5px 0 5px;content:'|'}
.extra_info a{color:#333;text-decoration:underline}

/* about us */

.sub_layout{position:relative;width:80%;margin-left:auto;margin-right:auto;background:rgba(240,240,240,0.8);overflow:hidden;}
.sub_layout:after{display:block;overflow:hidden;clear:both;height:0;content:''}
.sub_layout .title{margin-top:25px;width:90%;height:90px;margin-left:auto;margin-right:auto;background-color:#139fc2;box-shadow: 10px 10px #fff;overflow:hidden;}
.sub_layout .title .breadcrumb{font-size:12px;font-family:"Lucida Grande";color:#fff;font-weight:bold;margin-top:20px;margin-left:25px;}
.sub_layout .title .subtitle{font-size:26px;font-family:"Lucida Grande";color:#fff;font-weight:bold;margin-left:40px;}
.sub_layout .title .subtitle:before{display:inline-block;width:19px;height:19px;margin-right:4px;margin-top:9px;background-position:-183px -70px;content:''}


.sub_layout .content{margin-top: 35px;margin-left:auto;margin-right:auto;width:84%;top:70px}
.sub_layout .content .abtitle{font-size:26px;font-family:"Lucida Grande";color:#139fc2;margin-top:25px;font-weight:bold}
.sub_layout .content .abcontent{font-size:16px;font-family:"Lucida Grande";color:#000;margin-top:25px;margin-bottom:50px}

